@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Ordinances</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Resolutions</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Council Members</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-view>
        @* NgPartials for content / app.js for routing *@
    </div>
</div>