@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" ng-controller="NgNavCTRL">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
                <h5>Click below to check out the latest 2017 ordinances.</h5>
                <button type="button" class="btn btn-default" ng-click="showOrds()">Ordinances</button>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <h5>Click below to check out the latest 2017 ordinances.</h5>
            <button type="button" class="btn btn-default" ng-click="showAllRes()">Resolutions</button>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <h5>Click below to check out all the current Metro Council Members.</h5>
            <button type="button" class="btn btn-default" ng-click="showAllMembers()">Council Members</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-view>
        @* NgPartials for content / app.js for routing *@
    </div>
</div>