
@{
    ViewBag.Title = "Ordinances";
}

<h2>Ordinances</h2>
<p>See below for a list of Ordinances for 2016</p>
<div class="container" ng-controller="OrdsCTRL">
    <ul>
        <li class="list-group-item" ng-repeat="ord in getOrds()">
            @*@Html.ActionLink("Ordinance No. {{ord.OrdNumber}}", "Ordinance/{{ord.Ordnumber}}", "Home")*@
            @Html.ActionLink("{{ord.OrdNumber}}", "Ordinance", "Home")
        </li>
    </ul>




    @*<button class="btn-default btn" ng-click="getOrds()"><span class="glyphicon glyphicon-edit"></span>Test</button>
    <p>1+6={{1+6}}</p>*@
</div>
